[Unit]
Description = isucon7final main application in python

[Service]
WorkingDirectory=/home/isucon/webapp/python/
EnvironmentFile=/home/isucon/env.sh
ExecStart = /home/isucon/local/python/bin/gunicorn app:app --bind localhost:5000 -w 2 --worker-class aiohttp.worker.GunicornWebWorker

Restart   = always
Type      = simple
User      = isucon
Group     = isucon

[Install]
WantedBy = multi-user.target
